# --- JAVA & BUILD TOOLS ---
*.class
*.log
*.jar
*.war
*.ear
target/
build/
.gradle/
bin/

# --- IDEs (IntelliJ, Eclipse, VS Code) ---
.idea/
*.iml
.settings/
.project
.classpath
.metadata/
.vscode/

# --- OS TEMPORARY FILES ---
Thumbs.db
desktop.ini
.DS_Store

# --- SENSITIVE DATA ---
.env
*.properties
pos-material/

# --- FRONT-END ---
node_modules/
dist/
.env.local